* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }

  .hidden {
    display: none;
  }

  #state {
    height: 200px;
    overflow-y: scroll;
    min-height: 101%;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  